"*":
  _dart:
    _firstRun: true
    _version: "1.0.1"
  "atom-beautify":
    bash:
      beautify_on_save: true
    general:
      _analyticsUserId: "097c9ac2-dbf3-44dc-8f6a-3fe8cc5f6fe6"
      loggerLevel: "info"
      showLoadingView: false
    go: {}
    html:
      beautify_on_save: true
    js:
      beautify_on_save: true
      default_beautifier: "Prettier"
    json:
      beautify_on_save: true
    markdown:
      beautify_on_save: true
      disabled: true
      yaml: false
    python:
      beautify_on_save: true
      default_beautifier: "yapf"
      sort_imports: true
    ruby:
      beautify_on_save: true
    sql: {}
    terraform:
      beautify_on_save: true
      disabled: true
    tsx:
      beautify_on_save: true
    typescript:
      beautify_on_save: true
    yaml: {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
      showDirectoryColumn: true
    hyperclick:
      darwinTriggerKeys: "shiftKey,ctrlKey,altKey,metaKey"
    use: {}
  "atom-isort":
    sortOnSave: true
  "atom-toolbar":
    visible: false
  "autocomplete-plus":
    autoActivationDelay: 500
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "whitespace"
      "wrap-guide"
    ]
    editor:
      multiCursorOnClick: true
    excludeVcsIgnoredPaths: false
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "tmp"
      "htmlcov"
      "env"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: [
      "python-autopep8"
    ]
    projectHome: "/Users/anthcor/"
    telemetryConsent: "limited"
    titleBar: "custom"
  dart:
    sdkLocation: "/Users/anthcor/flutter"
    showOutlineView: false
  editor: {}
  "exception-reporting":
    userId: "bd728772-63cc-44e9-9bb3-d54b77631db6"
  "git-blame":
    columnWidth: 361
  "go-plus":
    format:
      tool: "gofmt"
    panel:
      displayMode: "closed"
      focusOnFailure: false
  "ide-go":
    formatTool: "gofmt"
  "ide-python":
    pylsPlugins:
      autopep8: {}
      flake8:
        enabled: true
        exclude: [
          ".svn"
          "CVS"
          ".bzr"
          ".hg"
          ".git"
          "__pycache__"
          ".tox"
          ".eggs"
          "*.egg"
          "tmp"
          "env"
          "atom.symlink"
        ]
      mccabe:
        enabled: false
      preload: {}
      pycodestyle:
        enabled: false
      pydocstyle: {}
      pyflakes:
        enabled: false
      pylint: {}
      yapf:
        enabled: true
  "linter-eslint":
    autofix:
      fixOnSave: true
      ignoreFixableRulesWhileTyping: true
    disabling:
      disableWhenNoEslintConfig: false
    global: {}
  "linter-pylint": {}
  "linter-python":
    withPep8: true
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    panelHeight: 486
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    useEslint: true
  "python-autopep8":
    formatOnSave: true
    maxLineLength: 80
  "python-isort":
    sortOnSave: true
  "single-click-open": {}
  "spell-check":
    useLocales: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  "wrap-guide": {}
".python.source":
  editor:
    scrollPastEnd: true
