"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

[package]
disabled = true

[aws]
disabled = true

[gcloud]
disabled = true

[azure]
disabled = true

[pulumi]
disabled = true
